
body {
    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #8ebbed;
}

div {
    width: 100%;
}

input {
    margin: 25px;
    margin-left: 45px;

    background-color: inherit;
    border-style: none;

    width: 80%;
    height: 23px;
    border-bottom: 2px solid gray;
}

select {
    padding-left: 7px;
}

.main-frame {
    background-color: #4736d4;

    width: 500px;
    height: 700px;
    
    border-radius: 7px;
}

.main-frame h1 {
    color:  white;
    
    font-size: 30px;
    padding-left: 35px;
    padding-top: 15px;
}

::placeholder, input {
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 400;

    padding-left: 7px;
}

.t2-input1 {
    display: inline-block;
    width: 100%;
}

.t2-input1 input{
    width: 25%;
}

.t2-input1 select{
    width: 49.05%;

    background-color: inherit;
    border-style: none;

    color: #898279;

    font-size: medium;
    font-weight: 400;
    
    border-bottom: 2px solid gray;

    height: 28px;
}

.country-input select{
    margin: 25px;
    margin-left: 45px;
    padding-left: 7px;

    width: 82%;
    height: 35px;

    background-color: inherit;
    border-style: none;

    color: #898279;

    font-size: medium;
    font-weight: 400;
    
    border-bottom: 2px solid gray;
}

.t2-input2 {
    display: inline-block;
}

.ph1 {
    width: 25%;
}

.ph2 {
    margin: 0 0 0 1px;

    width: 47.2%;
}

.check-input input {
    display: none;
}

.checkmark {
    display: inline-block;

    height: 25px;
    width: 25px;
}

.checkmark::checked {
    background-color: beige;
}